{% extends 'base.html' %}

{% block title %}
    Category
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ category.title }}</h1>

        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Price: ${{ product.price }}</p>
                            <a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-primary">View
                                Details</a>

                            <!-- Add to Cart button -->
                            <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-success">Add to
                                Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}